$base-blue-color: #17555E
$base-light-blue-color: #CBD5E1
$base-white: #FFF
$base-red: #FF0000
$div-width: 2vw

.input-wrapper
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    margin-left: 2vw

.input-label
    color: $base-blue-color
    font-family: Roboto Slab
    font-size: 16px
    font-style: normal
    font-weight: bold
    line-height: 20px

.input-rectangle
    width: $div-width
    height: $div-width
    cursor: pointer
    margin: 0px

.checkbox-wrapper
    width: $div-width
    height: $div-width
    padding: 0px
    border: 3px solid $base-blue-color
