<main appMobileView600 (screenWidth600)="onScreenWidth600($event)"  [ngClass]="isBurgerOpened ? 'burger-opened' : 'burger-closed'" (click)="reset()">
    <app-header #appHeader [position]="isMobile ? 'absolute' : 'sticky'"></app-header>
    <app-mobile-header *ngIf="isMobile" [isLandingHeader]="false" (burgerEvent)="updateBurgerEvent($event)"></app-mobile-header>
    <div class="verification" *ngIf="flag == true">
        <div class="icon-container">
        <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 24 24" fill="none" stroke="green" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle">
            <circle cx="12" cy="12" r="10"></circle>
            <polyline points="16 8 10 14 8 12"></polyline>
        </svg>
        </div>
        <h2>{{getText('SUCCESS_TITLE')}}</h2>
        <p>{{getText('SUCCESS_CONTENT')}}</p>
    </div>
    <div class="verification" *ngIf="flag == false">
        <div class="icon-container">
        <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
            <circle cx="12" cy="12" r="10"></circle>
            <line x1="15" y1="9" x2="9" y2="15"></line>
            <line x1="9" y1="9" x2="15" y2="15"></line>
        </svg>
        </div>
        <h2>{{getText('FAILED_TITLE')}}</h2>
        <p>{{getText('FAILED_CONTENT')}}</p>
    </div>
</main>