<div class="input-wrapper" [ngClass]="{'mobile-input-wrapper': isMobile}">
    <p class="input-label" 
       [class.content-en]="textService.getLanguage() === 'EN'" 
       [class.content-de]="textService.getLanguage() === 'DE'" 
       [class.content-hr]="textService.getLanguage() === 'HR'" 
    >
    {{label}}
    </p>
    <div class="input-rectangle" (click)="this.showOrHide($event)" [ngClass]="{'mobile-input-rectangle': isMobile}">
        <p class="input-rectangle-text" [ngClass]="{'disable-bold': this.getLine() === this.initialLine}">
            {{getLine()}}</p>
    </div>
    <div *ngIf="divIsOpened" class="input-dropdown-container" (click)="preventEvent($event)" [ngClass]="{'mobile-input-dropdown-container': isMobile}">
        <div class="input-dropdown-container-item">
            <div class="around-p">
                <p class="big-p">{{title1}}</p>
                <p class="small-p">{{subtitle1}}</p>
            </div>
            <div class="around-buttons">
                <button (click)="lower(0, $event)" class="next-button" [ngClass]="{'mobile-next-button': isMobile}">
                    <img *ngIf="value1!=0" src="../../../assets/icons/previous.png" class="next-icon" [ngClass]="{'mobile-next-icon': isMobile}"/>
                    <img *ngIf="value1==0" src="../../../assets/icons/previousDisabled.png" class="next-icon disable-cursor" [ngClass]="{'mobile-next-icon': isMobile}"/>  
                </button>
                <div class="around-value">
                    <p>{{value1}}</p>
                </div>
                <button (click)="raise(0, $event)" class="next-button" [ngClass]="{'mobile-next-button': isMobile}">
                    <img *ngIf="!max1 || value1 != 1" src="../../../assets/icons/next.png" class="next-icon" [ngClass]="{'mobile-next-icon': isMobile}"/>
                    <img *ngIf="max1 && value1 == 1" src="../../../assets/icons/nextDisabled.png" class="next-icon disable-cursor" [ngClass]="{'mobile-next-icon': isMobile}"/>  
                </button>
            </div>
        </div>
        <div class="input-dropdown-container-item" *ngIf="title2">
            <div class="around-p">
                <p class="big-p">{{title2}}</p>
                <p class="small-p">{{subtitle2}}</p>
            </div>
            <div class="around-buttons">
                <button (click)="lower(1, $event)" class="next-button" [ngClass]="{'mobile-next-button': isMobile}">
                    <img *ngIf="value2!=0" src="../../../assets/icons/previous.png" class="next-icon" [ngClass]="{'mobile-next-icon': isMobile}"/>
                    <img *ngIf="value2==0" src="../../../assets/icons/previousDisabled.png" class="next-icon disable-cursor" [ngClass]="{'mobile-next-icon': isMobile}"/> 
                </button>
                <div class="around-value">
                    <p>{{value2}}</p>
                </div>
                <button (click)="raise(1, $event)" class="next-button" [ngClass]="{'mobile-next-button': isMobile}">
                    <img *ngIf="!max1 || value2 != 1" src="../../../assets/icons/next.png" class="next-icon" [ngClass]="{'mobile-next-icon': isMobile}"/>
                    <img *ngIf="max1 && value2 == 1" src="../../../assets/icons/nextDisabled.png" class="next-icon disable-cursor" [ngClass]="{'mobile-next-icon': isMobile}"/>  
                </button>
            </div>
        </div>
        <div class="input-dropdown-container-item" *ngIf="title3">
            <div class="around-p">
                <p class="big-p">{{title3}}</p>
                <p class="small-p">{{subtitle3}}</p>
            </div>
            <div class="around-buttons">
                <button (click)="lower(2, $event)" class="next-button" [ngClass]="{'mobile-next-button': isMobile}">
                    <img *ngIf="value3!=0" src="../../../assets/icons/previous.png" class="next-icon" [ngClass]="{'mobile-next-icon': isMobile}"/>
                    <img *ngIf="value3==0" src="../../../assets/icons/previousDisabled.png" class="next-icon disable-cursor" [ngClass]="{'mobile-next-icon': isMobile}"/> 
                </button>
                <div class="around-value">
                    <p>{{value3}}</p>
                </div>
                <button (click)="raise(2, $event)" class="next-button" [ngClass]="{'mobile-next-button': isMobile}">
                    <img *ngIf="!max1 || value3 != 1" src="../../../assets/icons/next.png" class="next-icon" [ngClass]="{'mobile-next-icon': isMobile}"/>
                    <img *ngIf="max1 && value3 == 1" src="../../../assets/icons/nextDisabled.png" class="next-icon disable-cursor" [ngClass]="{'mobile-next-icon': isMobile}"/>  
                </button>
            </div>
        </div>
        <div class="input-dropdown-container-item" *ngIf="title4">
            <div class="around-p">
                <p class="big-p">{{title4}}</p>
                <p class="small-p">{{subtitle4}}</p>
            </div>
            <div class="around-buttons">
                <button (click)="lower(3, $event)" class="next-button" [ngClass]="{'mobile-next-button': isMobile}">
                    <img *ngIf="value4!=0" src="../../../assets/icons/previous.png" class="next-icon" [ngClass]="{'mobile-next-icon': isMobile}"/>
                    <img *ngIf="value4==0" src="../../../assets/icons/previousDisabled.png" class="next-icon disable-cursor" [ngClass]="{'mobile-next-icon': isMobile}"/> 
                </button>
                <div class="around-value">
                    <p>{{value4}}</p>
                </div>
                <button (click)="raise(3, $event)" class="next-button" [ngClass]="{'mobile-next-button': isMobile}">
                    <img *ngIf="!max1 || value4 != 1" src="../../../assets/icons/next.png" class="next-icon" [ngClass]="{'mobile-next-icon': isMobile}"/>
                    <img *ngIf="max1 && value4 == 1" src="../../../assets/icons/nextDisabled.png" class="next-icon disable-cursor" [ngClass]="{'mobile-next-icon': isMobile}"/>  
                </button>
            </div>
        </div>
    </div>
</div>