.text-image-wrapper
    display: flex
    width: 85vw
    padding-top: 24vh
    padding-bottom: 80px
    margin-left: 15vw

.reverse-image-text
    flex-direction: row-reverse
    margin-left: 0 !important
    margin-right: 15vw

.chosen-picture
    height: 500px
    width: 667px

.text-wrapper
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-right: 5vw
    height: 500px
    max-width: 45vw
    h1
        color: #17555E
        font-size: 36px
        line-height: 56px
        margin: 0

.text-wrapper-reversed-margin
    margin-right: 0 !important
    margin-left: 5vw

.description
    text-align: justify
    max-height: 350px
    overflow-y: auto
    color: #17555E
    font-size: 16px
    font-style: normal
    font-weight: 400
    line-height: 24px

.comment-wrapper
    border: 3px solid #17555E
    box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.10)
    padding: 15px 20px
    overflow-x: hidden
    p
        margin: 0
        color: #475569
        font-size: 18px
        line-height: 24px

.comment
    font-weight: 700
    margin-bottom: 10px !important

// Mobile view classes
@media only screen and (max-width: 600px)
    .text-image-wrapper
        flex-direction: column 
        padding-top: 5vh
        padding-bottom: 5vh
        width: 90vw
        margin-left: 5vw
    
    .text-wrapper
        max-width: 90vw
        margin-bottom: 5vh
        margin-right: auto
        height: auto

    .description
        max-height: none
    .chosen-picture
        height: 50vh
        width: 95vw
        object-fit: cover

    .reverse-image-text
        margin-right: auto
