<div class="text-image-wrapper" [ngClass]="{'reverse-image-text': sectionIndex % 2 == 0}">
    <div class="text-wrapper" [ngClass]="{'text-wrapper-reversed-margin': sectionIndex % 2 == 0}">
        <div>
            <h1>{{title}}</h1>
            <p class="description">{{description}}</p>
        </div>
        <div class="comment-wrapper" *ngIf="author">
            <p class="comment">{{comment}}</p>
            <p>{{author}}</p>
        </div>
    </div>
    <img src={{image}} class="chosen-picture"/>
</div>