<div class="input-wrapper">
    <p class="input-label" 
       [class.content-en]="textService.getLanguage() === 'EN'" 
       [class.content-de]="textService.getLanguage() === 'DE'" 
       [class.content-hr]="textService.getLanguage() === 'HR'" 
    >
    {{label}}
    </p>
    <input 
        #input
        class="input-rectangle"
        [ngClass]="{'fill': fill === true}"
        type="{{inputType.toLowerCase()}}" 
        [(ngModel)] = "value"
        (input)="onInput()"
        (focus)="onFocus()"
        >
</div>