<div class="input-wrapper">
    <p class="input-label" 
       [class.content-en]="textService.getLanguage() === 'EN'" 
       [class.content-de]="textService.getLanguage() === 'DE'" 
       [class.content-hr]="textService.getLanguage() === 'HR'" 
    >
    {{label}}
    </p>
    <input 
        *ngIf="inputType.toLowerCase() === 'text'"
        type="text"
        #input
        class="input-rectangle"
        [ngClass]="{'fill': fill === true}"
        [(ngModel)] = "value"
        (input)="onInput()"
        >
    <input
        *ngIf="inputType.toLowerCase() === 'email'"
        type="email"
        regex="[\w-\.]+@([\w-]+\.)+[\w-]{2,4}" 
        #input
        class="input-rectangle"
        [ngClass]="{'fill': fill === true}"
        [(ngModel)] = "value"
        (input)="onInput()"
        > 

</div>