<main>
    <app-header #appHeader></app-header>
    <div class="camp-page" (click)="appHeader.revertFlags()">
        <div class="fields">
            <p class="input-label">Guests</p>
            <div class="input-int" (click)="openDiv($event)">
                <p class="input-int-p">{{guestLine}}</p>
            </div>
            <div *ngIf="divIsOpened" class="chose-int">
                <div class="chose-int-item">
                    <div class="around-p">
                        <p class="big-p">Adults</p>
                        <p class="small-p">Age 13+</p>
                    </div>
                    <div class="around-buttons">
                        <button [ngClass]="{'disabled': numberOfAdults==0}" (click)="lower(0, $event)"></button>
                        <div class="around-value">
                            <p>{{numberOfAdults}}</p>
                        </div>
                        <button (click)="raise(0, $event)">></button>
                    </div>
                </div>
                <div class="chose-int-item">
                    <div class="around-p">
                        <p class="big-p">Children</p>
                        <p class="small-p">Ages 2-12</p>
                    </div>
                    <div class="around-buttons">
                        <button [ngClass]="{'disabled': numberOfChildren==0}" (click)="lower(1, $event)"></button>
                        <div class="around-value">
                            <p>{{numberOfChildren}}</p>
                        </div>
                        <button (click)="raise(1, $event)">></button>
                    </div>
                </div>
                <div class="chose-int-item">
                    <div class="around-p">
                        <p class="big-p">Infants</p>
                        <p class="small-p">Under 2</p>
                    </div>
                    <div class="around-buttons">
                        <button [ngClass]="{'disabled': numberOfInfants==0}" (click)="lower(2, $event)"></button>
                        <div class="around-value">
                            <p>{{numberOfInfants}}</p>
                        </div>
                        <button (click)="raise(2, $event)">></button>
                    </div>
                </div>
                <div class="chose-int-item">
                    <div class="around-p">
                        <p class="big-p">Pets</p>
                        <p class="small-p">All</p>
                    </div>
                    <div class="around-buttons">
                        <button [ngClass]="{'disabled': numberOfPets==0}" (click)="lower(3, $event)"></button>
                        <div class="around-value">
                            <p>{{numberOfPets}}</p>
                        </div>
                        <button (click)="raise(3, $event)">></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer (click)="appHeader.revertFlags()">
        <h3>{{text!.landingPageCopyrightText}} 2024 - Slapovi Zrmanje</h3>
    </footer>
</main>
