<main>
    <div class="menu reservation-menu-position" [ngClass]="{'menu-spread': isReservationSpread}">
        <div class="header-reservations-container menu-margin add-top-margin-on-left-menu" (click)="revertFlags()">
            <img src="../../../assets/avatars/Reservation.png" class="reservation-icon"/>
            <h3 class="reservations-text">{{text!.landingPageReservationTitle}}</h3>
        </div>
        <hr>
        <h3 class="menu-item">{{text!.landingPageReservationCamp}}</h3>
        <h3 class="menu-item">{{text!.landingPageReservationRooms}}</h3>
        <h3 class="menu-item">{{text!.landingPageReservationApartments}}</h3>
    </div>
    <div class="menu burger-menu-position" [ngClass]="{'menu-spread': isBurgerSpread}">
        <img src="../../../assets/avatars/Burger.png" class="burger-icon menu-margin add-top-margin-on-right-menu" (click)="revertFlags()"/>
        <hr>
        <h3 class="menu-item">{{text!.landingPageBurgerGallery}}</h3>
        <h3 class="menu-item">{{text!.landingPageBurgerContact}}</h3>
        <h3 class="menu-item" (click)="openLanguageMenu($event)">{{text!.landingPageBurgerLanguage}}</h3>
        <div *ngIf="languageMenuIsOpened">
            <h3 class="menu-item second-level" (click)="selectPreferableLanguage(0)">{{text!.landingPageBurgerLanguageCroatian}}</h3>
            <h3 class="menu-item second-level" (click)="selectPreferableLanguage(1)">{{text!.landingPageBurgerLanguageEnglish}}</h3>
            <h3 class="menu-item second-level" (click)="selectPreferableLanguage(2)">{{text!.landingPageBurgerLanguageGerman}}</h3>
        </div>
    </div>
    <header (click)="revertFlags()">
        <div class="header-reservations-container" (click)="changeReservationFlag($event)">
            <img [src]="reservationImage" class="reservation-icon"/>
            <h3 [ngClass]="{'reservations-text': !isDarkHeader, 'dark-reservations-text': isDarkHeader}">{{text!.landingPageReservationTitle}}</h3>
        </div>
        <img [src]="logoImage" [ngClass]="{'logo': !isDarkHeader, 'dark-logo': isDarkHeader}" routerLink=""/>
        <img [src]="burgerImage" class="burger-icon" (click)="changeBurgerFlag($event)"/>
    </header>
    <div (click)="revertFlags()">
        <div class="landing-page">
            <div class="page-row">
                <app-text-input
                    [label]="text!.inputFirstNameText"
                    [inputType]="'TEXT'"
                    (valueChangedEvent)="saveTextValue($event)">
                </app-text-input>
                <app-text-input
                    [label]="text!.inputLastNameText"
                    [inputType]="'TEXT'"
                    (valueChangedEvent)="saveTextValue($event)">
                </app-text-input>
            </div>
            <div class="page-row">
                <app-text-input
                    [label]="text!.inputEmailText"
                    [inputType]="'EMAIL'"
                    [fill]="true"
                    (valueChangedEvent)="saveTextValue($event)">
                </app-text-input>
            </div>
            <div class="page-row">
                <app-dropdown 
                    [initialLine]="text!.dropdownGuestsInitialLine" [label]="text!.dropdownGuestsLabel"
                    [divIsOpenedSubject]="d1IsOpenedSubject"
                    [title1]="text!.dropdownGuestsTitle1" [subtitle1]="text!.dropdownGuestsSubtitle1"
                    [title2]="text!.dropdownGuestsTitle2" [subtitle2]="text!.dropdownGuestsSubtitle2"
                    [title3]="text!.dropdownGuestsTitle3" [subtitle3]="text!.dropdownGuestsSubtitle3"
                    [title4]="text!.dropdownGuestsTitle4" [subtitle4]="text!.dropdownGuestsSubtitle4"
                    (showDivEvent)="onShowDivEvent($event)"
                    (valueChangedEvent)="saveIntValues($event)">
                </app-dropdown>
                <app-dropdown 
                    [initialLine]="text!.dropdownLodgingInitialLine" [label]="text!.dropdownLodgingLabel"
                    [divIsOpenedSubject]="d2IsOpenedSubject"
                    [title1]="text!.dropdownLodgingTitle1" [subtitle1]="text!.dropdownLodgingSubtitle1"
                    [title2]="text!.dropdownLodgingTitle2" [subtitle2]="text!.dropdownLodgingSubtitle2"
                    [title3]="text!.dropdownLodgingTitle3" [subtitle3]="text!.dropdownLodgingSubtitle3"
                    [title4]="text!.dropdownLodgingTitle4" [subtitle4]="text!.dropdownLodgingSubtitle4"
                    (showDivEvent)="onShowDivEvent($event)"
                    (valueChangedEvent)="saveIntValues($event)">
                </app-dropdown>
            </div>
            <div class="page-row">
                <app-checkbox 
                    [label]="text!.checkBoxTitle"
                    (valueChangedEvent)="saveCheckboxValue($event)"></app-checkbox>
            </div>
            <div class="page-row">
                <div class="check-button" (click)="checkAvailability()">{{text!.checkAvailabilityButtonText}}</div>
            </div>
        </div>
    </div>
    <footer (click)="revertFlags()">
        <h3>{{text!.landingPageCopyrightText}} 2024 - Slapovi Zrmanje</h3>
    </footer>
</main>
