$base-blue-color: #17555E
$base-white: #FFF

main
    width: 100vw
    height: 100vh
    overflow-x: hidden

.camp-page
    width: 86vw
    padding-top: 10vh
    margin-left: 7vw
    margin-right: 7vw

.upper-content
    display: flex
    flex-direction: row

.receipt-div
    margin-left: 5vw
    margin-right: 2vw
    width: 100%

.receipt-div
    display: flex
    width: 100%
    flex-direction: column
    align-items: stretch
    justify-content: space-between
    h2
        color: $base-blue-color
        font-weight: bold
    p
        color: $base-blue-color
        font-weight: bold
    hr
        color: $base-blue-color

.calculate-button-div
    display: flex
    flex-direction: row
    align-items: center
    p
        margin-left: 2vw

.receipt-total-div
    margin-bottom: 16px
    display: flex
    flex-direction: row
    justify-content: space-between

.receipt-item-div
    display: flex
    flex-direction: row
    justify-content: space-between
    p
        margin-bottom: 0
        margin-top: 10px

.photo-div
    background-color: $base-blue-color
    width: 26vw
    height: 27vh
    margin-left: 2vw
    margin-top: 4vh

.page-row
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-content: flex-start

.check-button
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    margin-left: 2vw
    padding-left: 1vw
    padding-right: 1vw
    width: 45.4vw
    height: 52px
    margin-top: 52px
    margin-bottom: 16px
    background-color: $base-blue-color
    font-size: 18px
    color: $base-white
    font-style: normal
    font-weight: bold
    cursor: pointer

.calculate-button
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    width: 15vw
    height: 52px
    background-color: $base-blue-color
    font-size: 18px
    color: $base-white
    font-style: normal
    font-weight: bold
    cursor: pointer

h1
    font-size: 72px
    top: 60vh

h2
    font-size: 24px
    top: 73vh

footer
    margin-top: 20vh
    width: 100vw
    height: 5vh
    background-color: #17555E
    display: flex
    align-items: center
    justify-content: center
    h3
        font-size: 14px
        color: white
