<main appMobileView600 (screenWidth600)="onScreenWidth600($event)" [ngClass]="isBurgerOpened ? 'burger-opened' : 'burger-closed'">
    <app-header #appHeader [position]="isMobile ? 'absolute' : 'sticky'"></app-header>
    <app-mobile-header *ngIf="isMobile" [isLandingHeader]="false" (burgerEvent)="updateBurgerEvent($event)"></app-mobile-header>
    <div (click)="reset()">
        <div class="apartment-page">
            <h1>{{text!.landingPageReservationApartments}}</h1>
            <div class="upper-content">
                <div class="form-div">
                    <div class="page-row">
                        <app-text-input
                            [labelIsBlack]="true"
                            [isMobile]="isMobile"
                            [value]="firstName"
                            [label]="text!.inputFirstNameText"
                            [inputType]="'TEXT'"
                            (valueChangedEvent)="saveTextValue($event)">
                        </app-text-input>
                        <app-text-input
                            [labelIsBlack]="true"
                            [isMobile]="isMobile"
                            [value]="lastName"
                            [label]="text!.inputLastNameText"
                            [inputType]="'TEXT'"
                            (valueChangedEvent)="saveTextValue($event)">
                        </app-text-input>
                    </div>
                    <div class="page-row">
                        <app-text-input
                            [labelIsBlack]="true"
                            [isMobile]="isMobile"
                            [value]="email"
                            [label]="text!.inputEmailText"
                            [inputType]="'EMAIL'"
                            [fill]="true"
                            (valueChangedEvent)="saveTextValue($event)">
                        </app-text-input>
                    </div>
                    <div class="page-row">
                        <app-dropdown 
                            [dropdownOn]="'apartment'"
                            [value]="guests"
                            [isMobile]="isMobile"
                            [initialLine]="text!.dropdownGuestsInitialLine" [label]="text!.dropdownGuestsLabel"
                            [title1]="text!.dropdownGuestsTitle1" [subtitle1]="text!.dropdownGuestsSubtitle1"
                            [title2]="text!.dropdownGuestsTitle2" [subtitle2]="text!.dropdownGuestsSubtitle2"
                            [title3]="text!.dropdownGuestsTitle3" [subtitle3]="text!.dropdownGuestsSubtitle3"
                            (valueChangedEvent)="saveIntValues($event)">
                        </app-dropdown>
                        <app-dropdown 
                            [dropdownOn]="'apartment'"
                            [value]="lodging"
                            [isMobile]="isMobile"
                            [max1]="true"
                            [initialLine]="text!.dropdownLodgingInitialLine" [label]="text!.dropdownLodgingLabel"
                            [title1]="text!.dropdownApartmentLodgingTitle1" [subtitle1]="text!.dropdownApartmentLodgingSubtitle1"
                            (valueChangedEvent)="saveIntValues($event)">
                        </app-dropdown>
                    </div>
                    <div class="page-row">
                        <app-calendar [isMobile]="isMobile" [fill]="true"></app-calendar>
                    </div>
                    <div class="receipt-div-on-mobile" *ngIf="calculateIsPressed && isMobile">
                        <div>
                            <div class="spread-items">
                                <h2>{{text!.calculator}}</h2>
                                <img (click)="closeReceipt()" src="../../../assets/icons/closeIcon.png" class="close-icon"/>
                            </div>
                            <div class="receipt-item-div"  *ngFor="let item of receiptItems">
                                <p style="width: 120px;">{{ getItemName(item.name)}}</p>
                                <p style="width: 50px; text-align: right;">{{item.count}}</p>
                                <p style="width: 100px; text-align: right;">{{item.nights}} {{ getNightsWord()}}</p>
                                <p style="width: 50px; text-align: right;">{{item.price}} €</p>
                            </div>
                        </div>
                        <div>
                            <div class="receipt-total-div">
                                <p>{{text!.totalText}}</p>
                                <p>{{totalPrice}} €</p>
                            </div>
                        </div>
                    </div>
                    <div class="page-row buttons">
                        <button class="check-button left-button left" [ngClass]="{'button-top-margin': calculateIsPressed && isMobile, 'disable-button': isAvailabilityDisabled()}" (click)="checkAvailability($event)">{{text!.checkAvailabilityButtonText}}</button>
                        <button class="check-button left-button clear" [ngClass]="{'disable-button': dataIsCleared}" (click)="resetAll()">{{text!.resetFormLabel}}</button>
                        <button *ngIf="isMobile" class="check-button right-button" [ngClass]="{'button-top-margin': calculateIsPressed && isMobile, 'disable-button': isCalculationDisabled()}" (click)="calculatePrice($event)">{{text!.calculateButtonText}}</button>
                    </div>
                </div>
                <div class="receipt-div" *ngIf="!isMobile">
                    <div>
                        <h2>{{text!.calculator}}</h2>
                        <div class="receipt-item-div"  *ngFor="let item of receiptItems">
                            <p style="width: 120px;">{{ getItemName(item.name)}}</p>
                            <p style="width: 50px; text-align: right;">{{item.count}}</p>
                            <p style="width: 100px; text-align: right;">{{item.nights}} {{ getNightsWord()}}</p>
                            <p style="width: 50px; text-align: right;">{{item.price}} €</p>
                        </div>
                    </div>
                    <div>
                        <div class="receipt-total-div">
                            <div class="calculate-button-div">
                                <button class="calculate-button" [ngClass]="{'disable-button': isCalculationDisabled()}" (click)="calculatePrice($event)">{{text!.calculateButtonText}}</button>
                                <p>{{text!.totalText}}</p>
                            </div>
                            <p>{{totalPrice}} €</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- TODO: Add photos -->
            <div class="page-row">
                <div class="photo-div"></div>
                <div class="photo-div"></div>
                <div class="photo-div"></div>
            </div>
        </div>
    </div>
    <footer (click)="reset()">
        <h3>{{text!.landingPageCopyrightText}} 2024 - Slapovi Zrmanje</h3>
    </footer>
</main>
