<main>
    <app-header #appHeader [position]="'sticky'"></app-header>
    <div (click)="appHeader.revertFlags(); commonService.updateComponentVisibility('')">
        <div class="apartment-page">
            <h1>{{text!.landingPageReservationApartments}}</h1>
            <div class="upper-content">
                <div class="form-div">
                    <div class="page-row">
                        <app-text-input
                            [value]="firstName"
                            [label]="text!.inputFirstNameText"
                            [inputType]="'TEXT'"
                            (valueChangedEvent)="saveTextValue($event)">
                        </app-text-input>
                        <app-text-input
                            [value]="lastName"
                            [label]="text!.inputLastNameText"
                            [inputType]="'TEXT'"
                            (valueChangedEvent)="saveTextValue($event)">
                        </app-text-input>
                    </div>
                    <div class="page-row">
                        <app-text-input
                            [value]="email"
                            [label]="text!.inputEmailText"
                            [inputType]="'EMAIL'"
                            [fill]="true"
                            (valueChangedEvent)="saveTextValue($event)">
                        </app-text-input>
                    </div>
                    <div class="page-row">
                        <app-dropdown 
                            [initialLine]="text!.dropdownGuestsInitialLine" [label]="text!.dropdownGuestsLabel"
                            [title1]="text!.dropdownGuestsTitle1" [subtitle1]="text!.dropdownGuestsSubtitle1"
                            [title2]="text!.dropdownGuestsTitle2" [subtitle2]="text!.dropdownGuestsSubtitle2"
                            [title3]="text!.dropdownGuestsTitle3" [subtitle3]="text!.dropdownGuestsSubtitle3"
                            (valueChangedEvent)="saveIntValues($event)">
                        </app-dropdown>
                        <!--                             [title2]="text!.dropdownApartmentLodgingTitle2" [subtitle2]="text!.dropdownApartmentLodgingSubtitle2"
                            [title3]="text!.dropdownApartmentLodgingTitle3" [subtitle3]="text!.dropdownApartmentLodgingSubtitle3" -->
                        <app-dropdown 
                            [max1]="true"
                            [initialLine]="text!.dropdownLodgingInitialLine" [label]="text!.dropdownLodgingLabel"
                            [title1]="text!.dropdownApartmentLodgingTitle1" [subtitle1]="text!.dropdownApartmentLodgingSubtitle1"
                            (valueChangedEvent)="saveIntValues($event)">
                        </app-dropdown>
                    </div>
                    <div class="page-row">
                        <app-calendar [fill]="true"></app-calendar>
                    </div>
                    <div class="page-row">
                        <button class="check-button" [ngClass]="{'disable-button': isAvailabilityDisabled()}" (click)="checkAvailability($event)">{{text!.checkAvailabilityButtonText}}</button>
                    </div>
                </div>
                <div class="receipt-div">
                    <div>
                        <h2>{{text!.calculator}}</h2>
                        <div class="receipt-item-div"  *ngFor="let item of receiptItems">
                            <p style="width: 120px;">{{ getItemName(item.name)}}</p>
                            <p style="width: 50px; text-align: right;">{{item.count}}</p>
                            <p style="width: 100px; text-align: right;">{{item.nights}} {{ getNightsWord()}}</p>
                            <p style="width: 50px; text-align: right;">{{item.price}} €</p>
                        </div>
                    </div>
                    <div>
                        <div class="receipt-total-div">
                            <div class="calculate-button-div">
                                <button class="calculate-button" [ngClass]="{'disable-button': isCalculationDisabled()}" (click)="calculatePrice($event)">{{text!.calculateButtonText}}</button>
                                <p>{{text!.totalText}}</p>
                            </div>
                            <p>{{totalPrice}} €</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- TODO: Add photos -->
            <div class="page-row">
                <div class="photo-div"></div>
                <div class="photo-div"></div>
                <div class="photo-div"></div>
            </div>
        </div>
    </div>
    <footer (click)="appHeader.revertFlags(); commonService.updateComponentVisibility('')">
        <h3>{{text!.landingPageCopyrightText}} 2024 - Slapovi Zrmanje</h3>
    </footer>
</main>
